<!-- Interpolation -->
<h1>"Welcome to {{ hotelName }}"</h1>
<!-- Property Binding -->
Number of Rooms is:
<div [innerText]="numberOfRooms"></div>
<!-- Event Binding -->
<button (click)="toggle()">Toggle</button>
<div [hidden]="hideRooms">
    Number of Rooms is:
    <div
     [ngStyle]="{'color':rooms.availableRooms ? 'white' : 'red'}"
     [innerText]="numberOfRooms"></div>
</div>

    {{ rooms?.availableRooms ?? 'No rooms' }}
    {{ roomList | json }}
    
<div *ngIf="rooms.availableRooms > 0">
    Rooms List
    <!-- {{roomList}} -->
    <table>
        <tr>
            <th>Index</th>
            <th>Even/Odd</th>
            <th>Room Number</th>
            <th>Room Type</th>
            <th>Room Amenities</th>
            <th>Room Price</th>
            <th>Room Photo</th>
            <th>Check In Time</th>
            <th>Check Out Time</th>
            <th>Rating</th>
        </tr>
        <tr 
        [ngClass]="e ? 'even': 'odd'"
        *ngFor="let room of roomList ; let e = even; let o = odd; let i = index">
            <td> {{ i | percent}}</td>
            <td>{{ e ? "Even" : "Odd"}}</td>
            <td>{{ room.roomNumber }}</td>
            <td>{{ room.roomType }}</td>
            <td>{{ room.amenities | titlecase }}</td>
            <td>{{ room.price | currency : 'GBP' }}</td>
            <td>{{ room.photos }}</td>
            <td>{{ room.checkInTime | date : 'shortDate'}}</td>
            <td>{{ room.checkOutTime | date : 'shortDate' }}</td>
            <td>{{ room.rating | number : '1.1-3' : ' ' }}</td>
        </tr>
    </table>
</div>
